server {
  listen                        80;
  server_name                   download download.{{ domain }}{% for domain_alias in domain_aliases %} download.{{ domain_alias }}{% endfor %};

  location / {
    root                        /storage/bittorrent/content/;
    autoindex                   on;
  }

  location =/favicon.ico {
    alias                       /usr/share/nginx/html/favicon.ico;
  }
}
