server {
  listen                        80;
  server_name                   download download.{{ domain }};

  location / {
    root                        /storage/bittorrent/content/;
    autoindex                   on;
  }
}
